.accept-label{
  
    display: block;
  padding-left: 15px;
  text-indent: -15px;
    
}

body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 1200px;
    background: linear-gradient(to top, #da089b 5.19%, #ffffff 100%);
    background-attachment: fixed;

    font-family: 'Courier New', Courier, monospace;
    color: rgb(189, 5, 149);
}

.Checkbox input[type="checkbox"]{
    width: 15px;
    height: 20px;
    padding-top: 0px;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
    
}

.Nav{
    height: 60px;
    background-color: #050000;
    
}

.Form{
    box-sizing: border-box;
    width: 540px;
    height: 640px;
    margin-top: 100px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #d6d6d6;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(141, 2, 106);
    
}

.Form-header{
    margin: 30px;
    color:rgb(189, 5, 149);
    text-align: center;
}

.Form-content{
    width: auto;
    height: auto;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 5px;
    font-size: 16px;
    line-height: 20px;
}

.Form-content div{
    margin-top: 20px;
    margin-bottom: 20px;
}

.Form-content input{
    font-size: 16px;
    line-height: 20px;
    height: 30px;
    padding-left: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    border-color: #fd00b1;
    
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(189, 10, 165);
    opacity: 1; /* Firefox */
  }
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-30px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-30px); }
}

img{
    height: 200px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: -120px;

    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}



.name{
    display: flex;
    gap: 10px;
}

.name input[type=text]{
    width: 142px;
}

.email input[type=text]{
    width: 310px;
}

.phonenumber input[type=text]{
    width: 310px;
}

.gender{
    display: flex;
    gap: 2px;
}

.gender input[type=text]{
    border: none;
    border-bottom: 2px solid rgb(117, 117, 117);
    width: 130px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0px;
}

.gender label{
    padding-top: 8px;
}

.submit{
    text-align: center;
}

.submit button{
    margin-top: 40px;
    padding-top: 5px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 5px;
    background-image: linear-gradient(to left, #f304bf  0%, #7e0760  51%, #47023e 100%);
    border: 1px solid #9c9c9c;
    border-radius: 5px;
    font-weight: 100;
    font-size: 24px;
    line-height: 26px;

    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
   
}
.submit button:hover{
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
         
 
          
